body{
    text-align: center;
    background-color:rgb(156, 162, 248)
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
#menu li {
    line-height: 70px;
    float: left;
    height: 70px;
    width: 158px;
    text-align: center;
    background-color:red;
    border: 1px solid red;
}
#menu li:hover{
    background-color: rgba(146, 2, 2, 0.685);
    border: 1px solid rgb(0, 0, 0);
    color:white;
    }
#menu a {
text-decoration: none;
display: block;

}

#main {
    background-color:white;
    width: 800px;
    height: 1000px;
    margin-left: auto;
    margin-right:auto;
    border:3px solid
    
}