body{
    text-align: center;

}



#main {
    background-color: lightsteelblue;
    width: 800px;
    height: 1000px;
    margin-left: auto;
    margin-right:auto;
    border:3px solid
    
}


#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: auto;
    color:lightgray;

}
#menu li {
    line-height: 50px;
    float: left;
    height: 50px;
    width: 156px;
    text-align: center;
    background-color: darkblue;
    border: 2px solid darkblue;
    color:lightgray;
}
#menu li:hover{
    background-color: rgb(11, 0, 51);
    border: 2px solid rgb(4, 0, 255);
    color:rgb(255, 255, 255);
    color:lightgray;
    }
#menu a {
text-decoration: none;
display: block;

}



#text1 {
    margin-top:20px;
    border-radius: 10px;
    width: 700px;
    margin-left: auto;
    margin-right:auto;
    border:3px solid blue;
    background-color:white;
}
#text1:hover{
background-color: rgb(232, 232, 252);
color:darkcyan;

}

#text2 {
    margin-top:20px;
    border-radius: 10px;
    width: 700px;
    margin-left: auto;
    margin-right:auto;
    border:3px solid blue;
    background-color:white;
}
#text2:hover{
    background-color: rgb(232, 232, 252);
    color:darkcyan;
}

#text3 {
    margin-top:20px;
    border-radius: 10px;
    width: 700px;
    margin-left: auto;
    margin-right:auto;
    border:3px solid blue;
    background-color:white;
}
#text3:hover{
    background-color: rgb(232, 232, 252);
    color:darkcyan;
}

#text4 {
    margin-top:20px;
    border-radius: 10px;
    width: 700px;
    margin-left: auto;
    margin-right:auto;
    border:3px solid blue;
    background-color:white;
}
#text4:hover{
    background-color: rgb(232, 232, 252);
    color:darkcyan;
}

#text5 {
    margin-top:20px;
    border-radius: 10px;
    width: 700px;
    margin-left: auto;
    margin-right:auto;
    border:3px solid blue;
    background-color:white;
}
#text5:hover{
    background-color: rgb(232, 232, 252);
    color:darkcyan;
}



a {
    color: white;
}

img {

    float: right;
}
