body{
    text-align: center;
    background-color:rgb(156, 162, 248)
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: auto;

}
#menu li {
    line-height: 50px;
    float: left;
    height: 50px;
    width: 156px;
    text-align: center;
    background-color:rgb(12, 4, 121);
    border: 2px solid rgb(12, 4, 121);

}
#menu li:hover{
    background-color: rgb(11, 0, 51);
    border: 2px solid rgb(4, 0, 255);
    color:rgb(255, 255, 255);
    }
#menu a {
text-decoration: none;
display: block;

}

#main {
    background-color:white;
    width: 800px;
    height: 1000px;
    margin-left: auto;
    margin-right:auto;
    border:3px solid
    
}

#text1 {
    border-radius: 10px;
    width: 700px;
    margin-left: auto;
    margin-right:auto;
    border:3px solid black;
    background-color:white;
}
#text1:hover{
background-color: blue;
color:rgb(255, 255, 255);

}

#text2 {
    border-radius: 10px;
    width: 700px;
    margin-left: auto;
    margin-right:auto;
    border:3px solid black;
    background-color:white;
}
#text2:hover{
    background-color: blue;
    color:rgb(255, 255, 255);
}

#text3 {
    border-radius: 10px;
    width: 700px;
    margin-left: auto;
    margin-right:auto;
    border:3px solid black;
    background-color:white;
}
#text3:hover{
    background-color: blue;
    color:rgb(255, 255, 255);
}

a {
    color: white;
}

img {

    float: right;
}
